<main>
    <div class="image-container"  fxLayout="row" fxLayoutAlign="center center">
        <div class="text-container">
            <p>Discover <strong>Trade Wave</strong> - Your Ultimate Trading Destination. 
                Dive into a world of advanced tools, real-time data, and a thriving trader community.
                Elevate your trading journey with us today!.
            </p>
            <button mat-button id="redirect" routerLink="registration">
                Get Started!
                <mat-icon aria-hidden="false" fontIcon="trending_up"></mat-icon>
            </button>
        </div>
            <img src="../../assets/Revenue-bro (2).png">
    </div>
</main>