.buttons button {
    margin-left: 10px;
    border: none;
    font-size: large;
}

#redirect {
    background-color: #94B0DA;
    padding: 20px 30px;
    font-size: larger;
    margin-top: 20px;
    max-width: 250px;
}

mat-icon {
    transform: scale(1.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    min-height: calc(100vh - 100px);
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

.image-container img {
    max-width: 30%;
    max-height: 40%;
    margin-right: 100px;
}

.text-container {
    padding: 0 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343F3E;
    margin-left: 100px;
}

.text-container p {
    max-width: 600px;
    justify-content: right;
    font-size: xx-large;
}