<mat-toolbar>
    <div class="logo">
        <img src="../../assets/Business_Growth_Report_Logo-removebg-preview.png">
    </div>
        <div class="nav-list">
            <a mat-list-item routerLink="portfolio" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="pie_chart"></mat-icon>Portfolio</button></a>
            <a mat-list-item routerLink="buy" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>Buy</button></a>
            <a mat-list-item routerLink="sell" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="sell"></mat-icon>Sell</button></a>
            <a mat-list-item routerLink="trade-history" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="timeline"></mat-icon>Trade History</button></a>
            <a mat-list-item routerLink="investment-preference" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="rule-setting"></mat-icon>Investment Preference</button></a>
            <a mat-list-item routerLink="robo-advisor" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="precision_manufacturing"></mat-icon>Robo-Advisor</button></a>
            <a mat-list-item routerLink="activity-report" routerLinkActive="active"><button><mat-icon aria-hidden="false" fontIcon="receipt_long"></mat-icon>Activity Report</button></a>
            <a routerLink="/"><button mat-raised-button class="login-button">Sign Out</button></a>
        </div>
</mat-toolbar>