<div class="bootstrap-wrapper">
    <div class="container">
            <div class="row mt20" style="margin-top: 30px;">
                    <div class="col-md-6 offset-md-3">
                            <mat-card>
                                    <div class="image-container">
                                            <img src="../../../assets/Investment data-rafiki.png">
                                            <div class>
                                                    <h1 class="text-center">Login</h1>
                                                    <form (ngSubmit)="formSubmit()">
                                                            <!-- Email ID Field -->
                                                            <mat-form-field class="full-width" appearance="outline">
                                                                    <mat-label>Enter Email ID</mat-label>
                                                                    <input [(ngModel)]="email" name="username"
                                                                            matInput
                                                                            placeholder="johndoe@example.com"
                                                                            required>
                                                                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                                            </mat-form-field>
                                                            <!-- Password Field -->



                                                            <mat-form-field class="full-width" appearance="outline">
                                                                    <mat-label>Enter Password</mat-label>
                                                                    <input [(ngModel)]="password" type="password"
                                                                            name="password" matInput
                                                                            placeholder="Password" required>
                                                                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                                                    <!-- <mat-hint>Hint</mat-hint> -->
                                                            </mat-form-field>
                                                            <mat-card-actions>
                                                                    <button mat-raised-button
                                                                            class="login-button">Login</button>
                                                            </mat-card-actions>
                                                    </form>
                                            </div>
                                    </div>
                            </mat-card>
                    </div>

            </div>
    </div>
</div>