<header>
    <mat-toolbar>
        <div class="logo"><img src="../../assets/Business_Growth_Report_Logo-removebg-preview.png"></div>
        <div class="buttons">
            <button mat-button id="login">
                Login
                <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
            </button>
            <button mat-button id="signup">
                Sign Up
                <mat-icon aria-hidden="false" fontIcon="person_add"></mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>
<main>
    <div class="image-container"  fxLayout="row" fxLayoutAlign="center center">
        <div class="text-container">
            <p>Discover <strong>Trade Wave</strong> - Your Ultimate Trading Destination. 
                Dive into a world of advanced tools, real-time data, and a thriving trader community.
                Elevate your trading journey with us today!.
            </p>
            <button mat-button id="redirect">
                Get Started!
                <mat-icon aria-hidden="false" fontIcon="trending_up"></mat-icon>

            </button>
        </div>
            <img src="../../assets/Revenue-bro (2).png">
    </div>
</main>
<footer>
    <p>&copy; 2023 Trade Wave. All rights reserved.</p>
</footer>