<header>
    <mat-toolbar>
        <a routerLink="/"><div class="logo"><img src="../../assets/Business_Growth_Report_Logo-removebg-preview.png"></div></a>
        <div class="buttons">
            <a routerLink="login" routerLinkActive="active">
                <button mat-button id="login">
                    Login
                    <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
                </button>
            </a>
            <a routerLink="registration" routerLinkActive="active">
                <button mat-button id="registration">
                    Sign Up
                    <mat-icon aria-hidden="false" fontIcon="person_add"></mat-icon>
                </button>
            </a>
        </div>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
    <p>&copy; 2023 Trade Wave. All rights reserved.</p>
</footer>