header {
    background-color: #f8f8f8;
    color: white;
    padding: 10px 20px;
}

mat-toolbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #90CAF9 407BFF E9FFF9 467599*/
.logo img{
    margin-top: 40px;
    max-width: 250px;
    height: 220px;
}

.buttons button {
    margin-left: 10px;
    border: none;
    font-size: large;
    color: #343F3E;
}

a {
    text-decoration: none;
}

footer {
    margin: auto;
    text-align: center;
    background-color: #f8f8f8;
    color: #1D3354;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#login {
    border: 3px solid black;
    background-color: white;
    padding: 20px 35px;
    border-color: #343F3E;
    margin-right: 20px;
}

#registration {
    background-color: #94B0DA;
    margin-right: 20px;
    padding: 23px 35px;
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    main {
        flex-direction: column;
    }
}